[Unit]
Description=A simple DDNS updater
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/ddnsd
PIDFile=/run/ddnsd/ddnsd.pid

ExecStart=/usr/sbin/ddnsd -d
ExecReload=/bin/sh -c '/bin/kill -HUP $MAINPID'

[Install]
WantedBy=multi-user.target
